.footer {
  text-align: center;
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #303188;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  z-index: 99999999;
  color: #fff;
}

.placeholder {
  height: 8rem;
}
