.footer {
  text-align: center;

  background-color: #303188;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  z-index: 99999999;

  button {
    color: #fff;
    font-size: 1.5rem;
    font: inherit;

    @media (min-width: 700px) {
      font-size: 2.5rem;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.footerContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.placeholder {
  @media (min-width: 700px) {
    height: 6rem;
  }
  height: 5rem;
}

.footerCloseButton {
  button {
    display: flex;
    width: 1rem;
  }
  float: right;
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
