.hero {
  background-image: url("/img/banner.jpeg");
  height: calc(100vh - 65px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;

  @media (min-width: 800px) {
    background-position-x: 0;
  }

  .iconBar {
    display: flex;
    height: 100%;
    align-items: flex-end;

    h1 {
      font-size: 2rem;
      @media (min-width: 700px) {
        font-size: 4rem;
      }
      margin-bottom: 10%;
    }
  }
}
